<!DOCTYPE html>
<html>
<head>
<title>Uostų pridėjimas</title>
<link rel="icon" type="image/x-icon" href="https://images4.imagebam.com/1a/1a/0d/ME95SYB_o.png"> 
</head>
<body style="background: url(https://images.pexels.com/photos/1482193/pexels-photo-1482193.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)" > 
</head>
<body>
<h1>Uostų duomenų pridėjimas</h1>

<form action="/uostai/nusiustiu" method="post">
  <label for="fname">Uosto pavadinimas:</label>
  <input type="text" name="upavad"><br><br>
  <label for="lname">Uosto koordinatės:</label>
  <input type="text" name="ukoor"><br><br>
  <label for="fname">Uosto miestas:</label>
  <input type="text" name="umiest"><br><br>
  <input type="submit" value="Pateikti">
</form>
  


</body>
</html>