<!DOCTYPE html>
<html>
<head>
<title>Valčių pridėjimas</title>
<link rel="icon" type="image/x-icon" href="https://images4.imagebam.com/1a/1a/0d/ME95SYB_o.png"> 
</head>
<body style="background: url(https://images.pexels.com/photos/1482193/pexels-photo-1482193.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)" > 
</head>
<body>
<h1>Valčių duomenų pridėjimas</h1>

<form action="/valtys/nusiusti" method="post">
  <label for="fname">Valties pavadinimas:</label>
  <input type="text" name="pavad"><br><br>
  <label for="lname">Valties savininkas:</label>
  <input type="text" name="sav"><br><br>
  <label for="fname">Valties savininko telefono numeris:</label>
  <input type="text" name="telnr"><br><br>
  <input type="submit" value="Pateikti">
</form>
  


</body>
</html>